html {
		background: url('http://i.imgur.com/3BYEtDp.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.content {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;	
	text-align: center;
  text-shadow: 2px 2px #000000;
	color: white;
	top: 55%;
	width: 100%;
	left: 0;
	position: absolute;
	margin-top: -100px;
	right: 0;
	z-index: -1;
	padding: 0 0px;
}
.content3 {
  max-width:40%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;  
  text-align: center;
  text-shadow: 2px 2px #000000;
  color: white;
  top: 60%;
  left: 30%;
  position: absolute;
  margin-top: -100px;
  right: 25%;
  z-index: -1;
  padding: 0 0px;
}
.navbar {
    margin-bottom: 0 !important;
}