#nav {
    	line-height:8px;
    	text-align:center;
    	height:10px;
    	/*width:1224px; -->*/
    	float:none;
    	padding:20px;
      padding-right: 20px;
	}
	.content2 {
  		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;	
  		text-align: center;
  		text-shadow: 2px 2px #000000;
  		color: white;
 		  top: 13%;
 		  width: 97%;
  		left: 0;
  		position: absolute;
  		margin-top: -100px;
/*  		margin-left: 20px;
  		margin-right: 20px;*/
  		right: 0;
  		z-index: 2;
  		padding: 0 0px;
	}
		#submitbutton {
		background: rgba(0, 0, 0, 0.35);
  		padding:15px 30px; /*add padding inside of the button*/
  		-moz-border-radius: 0px; /* add rounded corners */
  		-webkit-border-radius: 0px;
  		border-radius: 0px;
  		-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75); /* add drop shadows */
  		-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  		box-shadow: 0 0 4px rgba(0,0,0, .75);
  		color:#f3f3f3; /* text color is white */
  		font-size:1em; /* font size is 1em */
  		cursor:pointer; /* change cursor when hover */
	}
	#submitbutton:hover, input#submitbutton:focus {
  		background: rgba(0, 0, 0, 0.70);; /* the background a little darker*/
  		-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75); /* drop shadow is narrower to give a pushed effect */
  		-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
  		box-shadow: 0 0 1px rgba(0,0,0, .75);
	}
	a {
		width: 100%;
		height: 100%;
		display: block;
		color: white;
	}
	a { text-decoration: none; color: white; }
	a:visited { text-decoration: none; color: white; }
	a:hover { text-decoration: none; color: white; }
	a:focus { text-decoration: none; color: white; }
	a:hover,	a:active { text-decoration: none; color: white; }
	.background{
		background-color: #000000;
	}
	html {
  		background: url('http://i.imgur.com/3BYEtDp.jpg') no-repeat center center fixed;
  		-webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  	}
  	.content {
/*  		background: rgba(255, 255, 255, 0.35);*/
  	/*	border-radius: 3px;
  		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
  		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;	
  		text-align: center;
  		text-shadow: 2px 2px #000000;
  		color: white;
 		top: 55%;
 		width: 100%;
  		left: 0;
  		position: absolute;
  		margin-top: -100px;
/*  		margin-left: 20px;
  		margin-right: 20px;*/
  		right: 0;
  		z-index: 2;
  		padding: 0 0px;
	}
  .content3 {
/*      background: rgba(255, 255, 255, 0.35);*/
    /*  border-radius: 3px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;  
      text-align: center;
      text-shadow: 2px 2px #000000;
      color: white;
    top: 60%;
    width: 100%;
      left: 0;
      position: absolute;
      margin-top: -100px;
/*      margin-left: 20px;
      margin-right: 20px;*/
      right: 0;
      z-index: 2;
      padding: 0 0px;
  }
	#submitbutton {
		background: rgba(0, 0, 0, 0.35);
  		padding:15px 30px; /*add padding inside of the button*/
  		-moz-border-radius: 0px; /* add rounded corners */
  		-webkit-border-radius: 0px;
  		border-radius: 0px;
  		-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75); /* add drop shadows */
  		-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  		box-shadow: 0 0 4px rgba(0,0,0, .75);
  		color:#f3f3f3; /* text color is white */
  		font-size:1em; /* font size is 1em */
  		cursor:pointer; /* change cursor when hover */
	}
	#submitbutton:hover, input#submitbutton:focus {
  		background: rgba(0, 0, 0, 0.70);; /* the background a little darker*/
  		-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75); /* drop shadow is narrower to give a pushed effect */
  		-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
  		box-shadow: 0 0 1px rgba(0,0,0, .75);
	}
	a {
		width: 100%;
		height: 100%;
		display: block;
		color: white;
	}
	a { text-decoration: none; color: white; }
	a:visited { text-decoration: none; color: white; }
	a:hover { text-decoration: none; color: white; }
	a:focus { text-decoration: none; color: white; }
	a:hover,	a:active { text-decoration: none; color: white; }